{% extends "base.html" %}
{% load static %}

<section class="py-5">
    <div class="container">
        <div class="main-body">
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../index-3.html"><span>Home</span></a></li>
                    <li class="breadcrumb-item"><a><span>Conectado</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>Perfil de Usuário</span></li>
                </ol>
            </nav>
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center d-flex flex-column align-items-center"><img class="rounded-circle"
                                                                                                src="assets/img/profile.jpg"
                                                                                                alt="Admin" width="150">
                                <div class="mt-3">
                                    <h4>Fabio Carvalho</h4>
                                    <p class="text-primary mb-1">UI/UX Designer</p>
                                    <p class="text-muted font-size-sm">Santos - SP, Brasil</p>
                                    <button class="btn btn-warning">Ver Aulas</button>
                                    <button class="btn btn-outline-primary">Mensagem</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Twitter</h6>
                                </div>
                                <div class="col-sm-6 text-secondary"><span> @Alybaff </span></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Linkedin</h6>
                                </div>
                                <div class="col-sm-6 text-secondary"><span> Fabio Carvalho </span></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Instagram</h6>
                                </div>
                                <div class="col-sm-6 text-secondary"><span> @FabioCarvalho </span></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Website</h6>
                                </div>
                                <div class="col-sm-6 text-secondary"><span> Meu Portfolio </span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nome Completo</h6>
                                </div>
                                <div class="col-sm-9 text-secondary"><span> Fabio Carvalho </span></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">E-mail</h6>
                                </div>
                                <div class="col-sm-9 text-secondary"><span> fabio.carvalho8@fatec.sp.gov.br </span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Telefone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary"><span> +55 (13) 98208-1352 </span></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Endereço</h6>
                                </div>
                                <div class="col-sm-9 text-secondary"><span> Santos, SP - Brasil </span></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12"><a class="btn btn-warning" role="button" target=""
                                                          href="edit-profile.html">Editar</a></div>
                            </div>
                        </div>
                    </div>
                    <span> aaa!! </span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}